body{
    background-color: white;
}

.grid{
    background-color: rgba(0, 0, 0, .2);
    margin: 50px auto;
    vertical-align: center;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0px 17px 50px;
}

.space{
    background-color: white;
    transition: background-color .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space:hover{
    background-color: rgba(0, 0, 0, 0);
    transition: bacbackground-color .5s;
    cursor: pointer;
}

space:hover{
    background-color: rgba(0, 0, 0, 0);
    transition: bacbackground-color .5s;
    cursor: pointer;
}

.x,.o{
    font-family: 'arial';
    font-size: 70px;
    position: absolute;
}

.x{
    color: tomato;
}

.o{
    color: #3308FF;
}

.header{
    font-family: 'IBM Plex Sans condensed', sans-serif;
    font-family: 'Montserrat',sans-serif;
    font-size: 35px;
    color: tomato;
    text-align: center;
    margin-top: 50px;
}

.reset{
    font-family: 'IBM Plex Sans condensed', sans-serif;
    font-family: 'Montserrat',sans-serif;
    color: tomato;
    background-color: white;
    border: 1px solid tomato;
    padding: 5px;
    transition: border, color, -5s;
}

.reset:hover{
    cursor: pointer;
    color: #3308FF;
    border: 1px solid #3308FF;
    transition:  border, color, -5s;
}

.flex {
    max-width: 400px;
    margin: 0 auto;
}

.p1, .p2 {
    font-size: 20px;
    line-height: 24px;
}

.p2 {
    float: right;
}
